.pages-hide-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 2px;
  cursor: pointer;
}

.pages-hide-button svg path {
  fill: #fff;
}

.active .pages-hide-button svg path {
  fill: #919191;
}

.pages-hide-button:hover svg {
  filter: drop-shadow(0 0 10px rgb(255 255 255 / 70%));
}

.active .pages-hide-button:hover svg {
  filter: drop-shadow(0 0 10px rgb(0 0 0 / 70%));
}
